@charset "utf-8";
@import url(notosanskr.css);


/*  한국어 */
:lang(ko) {font-family: 'Noto Sans KR', sans-serif;}

*,
*:after,
*:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/* for IE6, 7, 8 */

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a {text-decoration:none;}
a:link {color:#fff; text-decoration:none;}
a:visited {color:#fff; text-decoration:none;}
a:active {color:#fff; text-decoration:none;}
a:hover {color:#fff; text-decoration:none;}


/* Basic Style*/

html, body, input, select, textarea {font-family: 'Noto Sans KR', '나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; line-height:28.8px; letter-spacing:0px; color:#fff; font-size:18px;}
body, html {line-height:32.4px; font-family: 'Noto Sans KR', sans-serif; background-color:#191919; font-weight:300; letter-spacing:-0.5px;}
ol, ul {list-style: none; padding:0; margin:0;}
.hide-large  {display:none;}
.navBar {width:100%; height:80px; line-height:62px;}
.navBar .innerBar {width:1045px; height:80px; font-size:16px; font-weight:400; color:#ddd; position:absolute; left: -webkit-calc(50% - 522.5px); left: -moz-calc(50% - 522.5px); left: calc(50% - 522.5px); z-index:2000 !important;}
.navBar .innerBar ul {float:right;}
.navBar .innerBar ul li ul li  {font-size:14px;}
.left{float:left! important;} .right{float:right !important;}
.title40 {font-size:40px; !important;}  .title36 {font-size:36px; !important;} .title32 {font-size:32px; !important;} .title28 {font-size:28px; !important;} .title22 {font-size:22px; !important;} .title18 {font-size:18px; !important;} .title16 {font-size:16px; !important;} .title14 {font-size:14px; !important;}
.txtBold {font-weight:500;}
.txtWhite {color:#fff !important;}
.pad10 {padding:10px;} .pad20 {padding:20px;}
.w100 {width:100%;} .w50 {width:50%;} .w66 {width:66.666%;} .w33 {width:33.333%;} .w25 {width:25%;} .w10 {width:10%;}
.noBorder {border:0 !important;}
.div {display:inline-block; color:#999; padding:0 5px;}


/* default */

.logo {float:left; width:200px; height:42px; padding-top:5px;}
.logo img {width:270px; height:42px;}
.mainImage {max-width:1200px; margin:0 auto;padding-top:300px; line-height:21.6px; color:#fff;}
.display-container {min-height:780px; padding:10px;}
.btnGrp {width:150px; margin:0 auto; padding:10px; text-align:center; background-color:#c9d2e3; color:#101010; border:solid 1px #52627a; margin-bottom:100px; }
.topBlack {background-color:#000;}


 /* nav */ /* point color #18e4c7 */

#menu ul li {display: inline-block; position: relative;}
#menu ul li ul {display: none; position: absolute; line-height:2.0em; background-color:#999; /*width:100%;*/}
#menu ul li ul li {box-shadow: 0px 0px 0px 1px #444; display: block;}
#menu ul li ul li:first-child { border-top: none;}
#menu ul li ul li a {background: #373737; display: block; padding: 10px 16px;}
#menu ul li ul li a:hover { background: #18e4c7; color:#333;}
#menu ul li:hover { /* background: #00c0aa; */ color:#18e4c7 !important;}
#menu a:hover {color:#18e4c7;}
.myNavBarBG {width:100%; height:80px; opacity:0.70; position:absolute; top:0; z-index:1000;}


/* slide */


.slideshowContainer {min-width:480px; position: relative; margin: auto; display:block;}
.slideshowContainerMobile {min-width:320px; position: relative; margin: auto; display:none;}
.prev, .next {cursor: pointer; position: absolute; top: 47%; width: auto; padding: 16px; margin-top: -22px; color: white; font-weight: bold; font-size: 18px; transition: 0.6s ease; border-radius: 0 3px 3px 0;}
.next { right: 0; border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8);}
.text { color: #f2f2f2; font-size: 15px; padding: 8px 12px; position: absolute; bottom: 8px; width: 100%; text-align: center;}
.numbertext { color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0;}
.dotGrp {position:absolute; left: -webkit-calc(100% - 50px); left: -moz-calc(50% - 50px); left: calc(19%); bottom:10px; display:block; width:60%; margin:0 auto; display:block}
.dotGrp .dotm, .dotGrp .dot { cursor: pointer; height: 3px; width: 20%; max-width: 63px; margin: 0 2px; background-color: #aaa; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease; background: rgba(154,144,153,1); border-radius: 0px;}
.dotGrp .dotm.active, .dotGrp .dot.active {height: 3px; width: 20%; background-image:url("../image/btn_btnOn.png"); background-position:center; background: rgba(242,113,115,1); border-radius: 0px;}
.dotGrp #playBtn { cursor: pointer; height: 16px; width: 16px; margin: 0 2px;   display: inline-block; transition: background-color 0.6s ease;}
.dotGrp #playBtn.start {background-image:url("../image/btn_pause.png");}
.dotGrp #playBtn.stop {background-image:url("../image/btn_play.png");}
.dot:hover {background-color: #f30;}
.fade { -webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;}
@-webkit-keyframes fade { from {opacity: .4}  to {opacity: 1}}
@keyframes fade { from {opacity: .4} to {opacity: 1}}
@media only screen and (max-width: 300px) { .prev, .next,.img {width:30px;}}

.menuSelected {color:#28BAA7 !important; }

#meritBox {width:100%; padding:0; padding-bottom:80px; /* background-image:url(../image/main_merit_bg.jpg); margin:0 auto; */}
#mainSection {max-width:1045px; overflow:hidden; margin:0 auto;}
#meritBoxWide {width:100%; padding:0; display:none;}
#mainSection .proGrp {max-width:100%; margin:0 auto; overflow:hidden; text-align:left; margin-bottom:5px;}
#mainSection .proGrp .pro { width:33.3%; padding:0px; float:left;}
#mainSection .proGrp .proPadLeft {padding-right:20px;}
#mainSection .proGrp .proPadCenter {padding:0 10px;}
#mainSection .proGrp .proPadRight {padding-left:20px;}
#mainSection .proGrp .pro img  {width:100% !important; /* height:100%; */ }
#mainSection .mainSectionTitle {padding:80px 0 56px 0;}

#container {width:100%;}
#container .containerBg {background-color:#191919;}
#container .mainTitle {font-size:50px; font-weight:500; padding:10px 0 20px 10px; color:#fff; line-height:1.6em;}
#container .mainTitle span {display:none;}
#container {overflow:hidden; line-height:14.4px; font-size:12px; text-align:left; padding-bottom:80px; margin:0 auto; color:#ddd;}
#container .conBox {float:left; min-width:100px; width:25%; padding-right:30px;}
#container .noPadding {padding:0 !important;}
#container .conAll {background-color:#24242b; width:100%; margin-bottom:8px; overflow:hidden;}
#container .conBox .title {font-size:18px; font-weight:500;}
#container ul {padding:0;}
#container .conImg img {width:100%;}
#container .recommand {margin-top:0px;}
#container .recommand ul {margin:0 -28px 0 0;}
#container .recommand .conAll ul {padding:10px; width:240px;}
#container .recommand .conAll .name {font-size:14px; font-weight:500;}
#container .recommand .conAll .des {font-size:13px; color:#f0f0f0;}
#container .recommand .conAll .cat {font-size:12px; color:#00c0aa;}
#container li {font-size:12px; font-weight:200; line-height:1.6em; text-align:left !important;}
#container .name {font-size:16px; font-weight:500; color:#fff;}

.containerBg {background-image:url(../image/main_product_bg.jpg);}

#title {display:none;}
#container li {font-size:12px; font-weight:200; line-height:19.2px; text-align:left !important;}
#container .name {font-size:16px; font-weight:500; color:#fff;}


/* bottom */

#bottomGrp {width:100%; padding:20px; font-size:12px; line-height:1.6em; color:#c0c0c0; background-color:#000; text-align:center;}
#bottomGrp li {padding:0 10px; border-right:solid 1px #333; color:#c0c0c0; height:12px; line-height:1.0em; display:inline-block;;}
#bottomGrp li a:link {color:#c0c0c0;}


 /* sub image */

#subImage .sub11 {width:100%; height:335px; background-image:url("../image/sub_image11.png"); background-position:center 0; background-repeat:no-repeat; padding-top:139px;}
#subImage .sub21 {width:100%; height:335px; background-image:url("../image/sub_image21.png"); background-position:center 0; background-repeat:no-repeat; padding-top:139px;}
#subImage .sub31 {width:100%; height:335px; background-image:url("../image/sub_image31.png"); background-position:center 0; background-repeat:no-repeat; padding-top:139px;}
#subImage .sub41 {width:100%; height:335px; background-image:url("../image/sub_image41.png"); background-position:center 0; background-repeat:no-repeat; padding-top:139px;}


/* introduce */

#subImage {width:100%;}
#subImage .subImage {width:100%; height:335px; background-repeat:no-repeat; background-position:center; }
#subImage .txtLarge {padding-top:130px; text-align:center; color:#fff; font-size:50px; font-weight:500; letter-spacing:-1px; line-height:1.3em;}
#subImage .txtLarge .divLine {font-size:40px; font-weight:100; opacity:0.5; padding:0 10px; vertical-align:top;}
#subImage .txtLarge .subTxt {font-size:18px; color:#fff; font-weight:500; vertical-align:top; letter-spacing:30px; padding-left:30px;}
#subImage .sub1 {background-image:url("../image/sub_image1.png"); background-position:center 0;}
#contents {max-width:1045px; margin:0 auto; padding:0;}
#contents .conImage {max-width:1200px; background-repeat:no-repeat; background-position:center; overflow:hidden;}
#contents .conImage1 {background-image:url("../image/introduce_img1.png"); height:500px; padding-top:150px;}
#contents .conImage2 {background-image:url("../image/introduce_img2.png"); height:600px; padding-top:150px;}
#contents .conImage3 {width:100%; display:block; padding:30px 0px 30px 0; margin-top:0px;}
#contents .conTxtImg {padding:30px 0;}
#contents .conTxt  {color:#fff; font-weight:300;}
#contents .conTxt500 {width:500px;}
#contents .conTxt .conTxtTitle {display:inline-block;  font-size:18px; letter-spacing:5px; text-align:left; color:#03dbbd; font-weight:500; line-height:28.8px; height:36px; }
#contents .conTxt .conTxtSubject {margin-top:80px; margin-bottom:40px;}
#contents .conTxt .conTxtSubject1 {height:56px; font-size:35px; line-height:36px; font-weight:500; margin-bottom:20px; width:280px; border-bottom:solid 1px #777;}
#contents .conTxt .conTxtSubject2 {height:56px; font-size:35px; line-height:36px; font-weight:500; margin-bottom:20px; width:375px; border-bottom:solid 1px #777;}
#contents .conTxt .conTxtSubject3 {height:56px; font-size:35px;  line-height:36px; font-weight:500; margin-bottom:20px; width:420px; border-bottom:solid 1px #777;}
#contents .conTxt .vline {border-left:solid 5px #00c0aa; padding-left:15px;}
#contents .conTxt .conTxtText {font-size:18px; line-height:28.8px;}
#contents .conTxt .conTxtText .txtS {color:#f06d9b; font-weight:500; font-size:26px}
#contents .alignRight {float:right;}
#contents  .bgBlue {background-color:#25aae1;}
#contents  .bgPink {background-color:#f06d9b;}
#contents  .bgGreen {background-color:#238937;}
#contents .conTxt .txtPos1 {width:100% !important;}


 /* detail */

.detail {width:100%; height:670px; background-position:center 0; background-repeat:no-repeat; padding-top:420px;}
.detailBackground {border:0; background-image:url('../image/detail_img.jpg'); background-repeat:no-repeat;}
.marginTop {margin-top:300px !important;}

#subImage .arrowGrp {position:absolute; width:100%; left:0; top:320px; z-index:1000;}
#subImage .arrowGrp .left {float:left; padding:0 20px;}
#subImage .arrowGrp .right {float:right; padding:0 20px;}
#subImage .mask {width:100%; /*height:100%;*/ position:absolute; z-index:100; top:0px; left:0; background-image:url('../image/detail_img_cover.png'); background-repeat:no-repeat; background-position:top center;}
#subImage .conGrp {max-width:1045px; letter-spacing:0; position:absolute; z-index:1100; border:solid 0px #f30; left: -webkit-calc(50% - 522px); left: -moz-calc(50% - 522px); left: calc(50% - 522px);}
#subImage .conGrp .iconBox {padding:5px 10px 5px 0; float: left;}
#subImage .conGrp .conTitle {font-size:65px; font-weight:500; line-height:65px; vertical-align:baseline; letter-spacing:-1px;}
#subImage .conGrp .infoGrp {padding-top:30px; line-height:32.4px;}
#subImage .conGrp .infoGrp .conInfo {width:calc(50% - 50px); float:left; padding-right:40px; font-size:18px; line-height:28.8px; opacity:0.8;max-height:117px}
#subImage .conGrp .infoGrp .conDetail {width:50%; float:left; padding-right:40px; font-size:18px;  line-height:28.8px; font-weight:500;}
#subImage .conGrp .infoGrp .conDetail li {width:50%; background-image:url(../image/icon_r.png); background-repeat:no-repeat; background-position:0 center; padding-left:12px; float:left;}
#subImage .conGrp .infoGrp .conDetail .conItem {opacity:0.8; min-width:100px; max-width:100px; font-weight:400;display:inline-block; display:table-cell; vertical-align:middle;}
#subImage .conGrp .infoGrp .conDetail .conItem + span {display:table-cell}
#contents .contentGallery {width:100%; margin-top:90px;}
#contents .contentGallery .galleryGrp {width:100%; overflow:hidden; padding-top:45px; position:relative;}
#contents .contentGallery .galleryGrp .arrowGrp {width:100%;  position:absolute; top:261px;}
#contents .contentGallery .galleryGrp .arrowGrp .left {float:left; padding:0 13px;}
#contents .contentGallery .galleryGrp .arrowGrp .right {float:right; padding:0 13px;}
#contents .contentGallery .galleryGrp .galleryImg {width:100%;}
#contents .contentGallery .gallerySm {width:100%; overflow-x:auto;  background-color:#191919;}
#contents .contentGallery .gallerySm table {}
#contents .contentGallery .gallerySm td {padding:20px 10px;}
#contents .contentGallery .gallerySm td img {width:246px; height:123px;}
#contents .contentGallery .gallerySm .selected {border:solid 3px #18e4c7;}
#contents .contentInfomation {width:100%; margin:100px 0;}
#contents .contentInfomation .label {width:150px; float:left; background-image:url(../image/dot.png); background-repeat:no-repeat; background-position:0 center; padding-left:25px; color:#818eab;}
#contents .contentInfomation .conTxtInfo {border:solid 1px #52627a; background-color:#3b4353; padding:15px; overflow:hidden; padding-top:30px;}
#contents .contentInfomation .conTxtInfo li {width:50%; float:left; font-size:18px;}
#contents .contentInfomation .conTxtInfo .conTxtCau {width:100%; display:inline-block; padding-top:40px; font-size:13px; text-align:right; color:#99aece; letter-spacing:0;}

.btnBack {float:right; font-size:14px; width:80px; font-weight:500; padding-top:5px; border:solid 0px #555; background-color:#333; padding:0px 10px; background-image:url(../image/icon_back.png); background-repeat:no-repeat; background-position:10px center; background-size:10%; padding-left:30px; letter-spacing:0;  cursor:pointer;}
.btnBack a:link {color:#fff !important;}

.galleryImg img {width:100% !important;}
.pageDot {font-size:50px; line-height:10px;}


/* contents list */

.contentsList {width:100%; background-color:#24242b; height:50px;}
.contentsList .contentCat {max-width:1145px; height:50px; margin:0 auto; border:solid 0px #f30;}
.contentsList .contentCat .arrowLeft {float:left; width:50px;}
.contentsList .contentCat .arrowRight {float:right; width:50px;}
.contentsList .contentCat li {float:left;  line-height:38px; min-width:100px; padding:5px 10px; font-size:16px; text-align:center; display:inline-block;}
.contentsList .contentCat .selected {background-color:#18e4c7; color:#fff;}
.contentsList .contentCatGrp { display:inline-block; width: -webkit-calc(100% - 100px); width: -moz-calc(100% - 100px); width: calc(100% - 100px); height:46px; /*overflow-y:hidden;*/}

#container .conAll {background-color:#24242b; width:100%; margin-bottom:30px; overflow:hidden;}
#container .conBox .title {font-size:18px; font-weight:500;}
#container ul {padding:0;}
#container .conImg img {width:100%;}
#container {padding-top:20px;}
#container ul {margin:0 -30px 0 0;}
#container .conAll ul {padding:5px; width:240px;}
#container .conAll .name {font-size:14px; font-weight:500; /* 한 줄 자르기 */ display: inline-block; width:95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#container .conAll .des {font-size:14px; color:#f0f0f0; /* 한 줄 자르기 */ display: inline-block; width:95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#container .conAll .cat {font-size:12px; color:#00c0aa; /* 한 줄 자르기 */ display: inline-block; width:95%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.selectGrp {padding:40px 0 20px 0; overflow:hidden;}
.selectGrp .totalBox {float:left; font-size:18px; font-weight:600;}
.selectGrp .selectBox {float:right;}
.selectGrp .selectBox select {background-color:#191919; border:solid 0px #555; padding:2px 10px; font-weight:600;}


 /* notice */

#subImage .sub3 {background-image:url("../image/sub_image3.png"); background-position:center 0;}

#contents .conTxtSubject {font-size:30px; font-weight:500;}
#contents .noticeGrp {border-top:solid 0px #00c0aa; overflow:hidden; border-left:0; border-right:0; margin-top:20px; font-size:18px;}
#contents .noticeGrp .title {background-color:#555555; font-weight:500; font-size:18px;}
#contents .noticeGrp .title span {text-align:center;}
#contents .noticeGrp span {float:left; padding:10px 2px; }
#contents .noticeGrp li {border-bottom:solid 1px #333; height:60px; color:#adadad;}
#contents .noticeGrp li a {color:#adadad;}
#contents .noticeGrp .num{width:10%; min-width:50px; clear:both; text-align:center;}
#contents .noticeGrp .subject{width:70%; min-width:150px;}
#contents .noticeGrp .date{width:20%; min-width:100px; text-align:center;}
#contents .noticeGrp .noticeViewTitle {clear:both; font-size:22px; width:100%; background-color:#555555; padding:10px 20px; overflow:hidden; font-weight:500;}
#contents .noticeGrp .noticeViewInfo {border-top:solid #adadad 1px;  font-size:16px; font-weight:300; letter-spacing:0;}
#contents .noticeGrp table {width:100%; height:30px; background-color:#22232b; height:60px; border-bottom:solid 0px #adadad; font-size:18px; font-weight:500; }
#contents .noticeGrp .writer {width:10%; height:30px;  text-align:center;}
#contents .noticeGrp .counter {width:70%; text-align:center;}
#contents .noticeGrp .wdate {width:20%; text-align:center;}

/* 공지사항 폰트 크기 수정 > 16px */
#contents .noticeView {font-size:16px; line-height:28.8px; font-weight:400; border-top:solid 2px #999; margin-top:20px;}
/* 공지사항 상세보기 내용 간격 수정 > padding:10px 0; */
#contents .noticeViewDetail {width: 100%; font-size:18px; font-weight:100; padding:10px 0; border-bottom:solid 1px #555;}
#contents .noticeViewDetail {word-break: break-all;} /* 공지사항 상세정보 space 없는 긴 글일 경우 ui 깨지는 문제로 word-break 추가 */
#contents .noticeView div img{max-width: 100%; height: auto !important;}
/* 공지사항 상세보기 폰트 크기 변경에 맞게 텍스트 상자 크기 변경 > height:50px, line-height:50px */
/* 공지사항 제목 길이 변경으로 height 값 변경 36px -> auto */
#contents .noticeView .noticeViewTitle {width:100%; padding: 0 40px; height:auto; line-height:35px; background-color:#555; border-bottom:solid 1px #adadad;font-size:14px;font-family: 'Noto Sans KR', sans-serif;} /* 공지사항 상세보기 폰트 크기 변경에 맞게 텍스트 상자 크기 변경 : height, line-height */
#contents .noticeView table {width:100%;}
/* 공지사항 상세보기 폰트 크기 변경에 맞게 텍스트 상자 크기 변경 > height:50px */
#contents .noticeView .writer {width:20%; height:36px; text-align:left;}
#contents .noticeView .counter {width:50%; text-align:center;}
#contents .noticeView .wdate {width:30%; text-align:right;}
#contents .attatchFileGrp {border-top:dotted 2px #555555; margin-top:10px ; font-size:16px; line-height:25.6px; padding-top:10px;}
#contents .attatchFileGrp .attatch {width:120px;}
/* 공지사항 상세보기 첨부파일 간격 변경 > margin:0 */
#contents .attatchFileGrp td p {margin:0;}
#pageNumberGrp {width:100%; padding:30px;}
#pageNumberGrp .pageNumber {text-align:center; font-size:18px;}
#pageNumberGrp .pageNumber a {padding:5px;}

/* 공지사항  목록리스트와 검색창 사이 간격 조절 > margin-top : 30px */
#searchBox {width:540px; padding:0px; text-align:center; font-size:18px; margin:0 auto; margin-top:36px; margin-bottom:40px;}
#searchBox .searchGrp {margin:0 auto; overflow:hidden;}
/* 공지사항  목록리스트와 검색창 폰트 크기 조절, 검색창 크기 조절 */
#searchBox .searchGrp input, #searchBox .searchGrp select {color:#d4d4d4; background-color:#22232b; border:solid 1px #333; height:36px; font-family: 'Noto Sans KR', sans-serif;}
#searchBox .searchGrp .selectBox {float:left; font-size:16px; font-weight:normal;}
#searchBox .searchGrp select {width:80px; padding:0 5px; font-size:14px; font-weight:normal;}
#searchBox .searchGrp .searchInput {float:left; width:360px; padding:0 2px;}
#searchBox .searchGrp .searchInput input {width:100%; font-size:16px; font-weight:normal;}
#searchBox .searchGrp .btnSearch {width:100px; float:left; font-weight:normal; background-color:#555; cursor:pointer; font-size:14px; font-family: 'Noto Sans KR', sans-serif; border: 1px solid #6f6f6f;}

#btnNoticeGrp {width:100%; overflow:hidden; padding:20px 0; margin-bottom:100px; text-align:center;}
#btnNoticeGrp .btnList {font-size:14px; border:solid 0px #d4d4d4; line-height:36px; font-weight:500; padding:0 40px; background-color:#555; cursor:pointer;}

#partnershipGrp {width:100%; overflow:hidden;}
#partnershipGrp .headline {font-size:30px; font-weight:200; letter-spacing:0; padding:0 0; text-align:left; line-height: 1.0em; margin-top: -5px;}
#partnershipGrp .post {font-size:18px; letter-spacing:-0.5px; padding:20px 0; text-align:left; line-height:1.6em;}
#partnershipGrp .flow {padding:20px 0;}
#partnershipGrp .inquire table {width:100%; border-top:solid 1px #444; border-bottom:0; margin:100px 0; font-size:14px; letter-spacing:0;}
#partnershipGrp .inquire table th {font-weight:300; padding:5px 20px; text-align:left; width:20%; min-width:120px; border-bottom:solid 1px #444; background-color:#22232b; text-align:center;}
#partnershipGrp .inquire table td {font-weight:300; padding:5px 20px; border-bottom:solid 1px #444;}

#contents .termsGrp {border:solid 1px #777; padding:20px;}
#contents .termsGrp .lines {width:100%; display:block; padding:10px; border-top:solid 2px #fff;  border-bottom:solid 1px #333; background-color:#555;}


html{box-sizing:border-box} *,*:before,*:after{box-sizing:inherit}


/********************************************************************************************/

@media screen and (max-width:1024px){ /* 1025px 이하  */

.hide-large {display:block;}

#mainSection {padding-bottom:30px;}
#mainSection .mainSectionTitle {padding:29px 0 26px 0;}
#mainSection .mainSectionTitle img {width:20%;}

#container {padding:10px 10px;}
#container .conBox {width:25%;}
#container .recommand ul {margin:0 -10px 0 0;}
#meritBox {padding:20px 20px;}

.navBar {width:100%; height:69px; line-height:0;}
.navBar .innerBar {width:1045px; height:69px; font-size:16px; font-weight:400; color:#ddd; position:absolute; left: -webkit-calc(50% - 522.5px); left: -moz-calc(50% - 522.5px); left: calc(50% - 522.5px); z-index:2000 !important;}
.navBar .innerBar ul {float:right;}
.navBar .innerBar ul li ul li  {font-size:14px;}

.sidebar {padding-top:70px !important;}
.sidebar .sidebarLogo {width:200px; height:42px; left:30px; top:18px; position:absolute; z-index:1100; }
.sidebar .sidebarLogo img {width:100%;}
.sidebar .btnClose {position:absolute; right:5px; top:5px; z-index:3001; border:0;}
.sidebar .btnClose img {width:60px; height:60px;}
.sidebar li {line-height:30px;}
.sidebar .sidebarSubmenu li {line-height:26px;}
.slideshowContainer {display:none;} /* main Wide image Hide */
.slideshowContainerMobile {display:block } /* main mobile image Show */

.logo {margin:0; padding:0; padding:18px 0 18px 10px;}
 .myNavBarBG {height:69px; opacity:0.70; position:absolute; top:0; z-index:1000;}
.bar-item {padding:18px 10px 18px 0;}

 .prev, .next {width:40px !important;}

.dotGrp .dot { cursor: pointer; height: 8px; width: 8px; margin: 0 2px; background-color: #aaa; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease;}
.dotGrp .dot.active {height: 8px; width: 8px; background-image:url("../image/btn_btnOn.png"); background-position:center;}
.dotGrp #playBtn { cursor: pointer; height:8px; width: 8px; margin: 0 2px;   display: inline-block; transition: background-color 0.6s ease;}
.dotGrp #playBtn.start {background-image:url("../image/btn_pause.png"); background-size:cover;}
.dotGrp #playBtn.stop {background-image:url("../image/btn_play.png"); background-size:cover;}


/* slide bar right S  */

.dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content{position:relative}
.hide-small{display:none!important}.mobile{display:block;width:100%!important}.bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile{text-align:center}
.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}

.sidebar {font-size:18px; padding:0; margin:0; display:none; right:0; background-color:#101010; padding:0px; font-weight:400;}
.sidebar ul, .sidebar li {padding:0;}
.sidebar li {padding-left:35px;}
.sidebar li a {color:#777;}
.sidebar .menuSelected {color:#fff !important;}
.sidebarSubMenuBg { background-color:#222222;}
.sidebar .sidebarSubmenu {width:100%; padding:0; font-size:16px; font-weight:300;}
.sidebar .sidebarSubmenu li {padding:0;}
.btnClose {right:13px !important;}


/* slide bar right E  */

/* introduce */

#contents .conImage {max-width:1024px; background-repeat:no-repeat; background-position:center 500px; background-size:75%;}
#contents .conImage .conTxt {width:100%; overflow:hidden;  text-align:center;}
#contents .conImage .conTxt3 {padding:10px 0; font-size:20px !important;}
#contents .conImage .conTxt .conTxtTitle {font-size:18px; padding-bottom:20px;}
#contents .conImage .conTxt .conTxtSubject {font-size:50px; height:70px; border-bottom:solid 2px #fff; margin:0 auto;}
#contents .conImage .conTxt .conTxtSubject1 {width:300px; font-size:35px; height:65px; margin:0 auto; display:block;}
#contents .conImage .conTxt .conTxtSubject2 {width:380px; font-size:35px; height:65px; margin:0 auto; display:block;}
#contents .conImage .conTxt .conTxtSubject3 {width:420px; font-size:35px; height:65px; margin:0 auto; display:block;}
#contents .conImage .conTxt .conTxtText {font-size:22px; padding:0 30px;  margin-top:20px; overflow:auto;}
#contents .conImage1 {background-image:url("../image/introduce_img11.png"); padding-top:100px; height:780px; background-position:center 250px; }
#contents .conImage2 {background-image:url("../image/introduce_img21.png"); padding-top:100px; background-position:center 300px;  height:850px;}
#contents .conImage3 {width:100%; display:block; padding:100px 0 30px 0;}
#contents .conTxtImg {padding:30px 20px; }


 /* list */

#contents {padding:0px; margin-top:0px;}
#container ul {margin:0 -30px 0 0;}
.customer {padding:0 20px !important;}
.selectGrp {border:solid 0px #f30; padding:20px 10px 20px 10px; overflow:hidden;}
#subImage .subTitle {position:absolute; left:20.31%; top:37%;}


/* detail */

.detail {background-size:cover; height:500px; background-position:center 0;}
.marginTop {margin-top:0 !important;}
#subImage .mask {width:100%; height:500px; position:absolute; z-index:100; top:0px; left:0; background-image:url('../image/detail_img_cover.png'); background-repeat:no-repeat; background-position:top center;}
#subImage .conGrp {width:100%; padding:0 20px; font-size:16px; position:static; z-index:1100; margin-top:100px}
#subImage .conGrp .conTitle {font-size:46px; line-height:1.6em; }
#subImage .conGrp .iconBox {width:54px; float: left; padding: 13px 10px 5px 0;}
#subImage .conGrp .infoGrp {padding-top:20px; line-height:1.8em;}
#subImage .conGrp .infoGrp .conInfo {width:100%; font-size:16px; opacity:0.8; padding:0; padding-bottom:20px;}
#subImage .conGrp .infoGrp .conDetail {display:none;}
#subImage .conGrp .infoGrp .conDetailMobile {display:block !important; padding-top:20px;}
#subImage .conGrp .infoGrp .conDetailMobile table {width:100%;}
#subImage .conGrp .infoGrp .conDetailMobile th {font-weight:500; min-width:120px; width:30%; text-align:left; background-image:url(../image/icon_r.png); background-repeat:no-repeat; background-position:0 center; padding-left:12px;}
#subImage .arrowGrp {display:none;}


.contentsMargin {margin-top:444px !important;}
#contents .conTxt .conTxtSubject {margin-top:70px;}
#contents .contentGallery {clear:both; width:100%; padding:20px; margin-top:0px}
#contents .contentGallery .galleryGrp {width:100%; overflow:hidden; padding-top:40px; position:relative;}
#contents .contentGallery .galleryGrp .arrowGrp {width:100%;  position:absolute; top:261px;}
#contents .contentGallery .galleryGrp .arrowGrp .left {float:left; padding:0 13px;}
#contents .contentGallery .galleryGrp .arrowGrp .right {float:right; padding:0 13px;}
#contents .imgBox {float:left; width:100%; height:100%;}
#contents .InfoBox {float:left; width:100%; height:100%;}
#contents .contentGallery .gallerySm td {padding:10px 5px;}
#contents .contentGallery .gallerySm td img {width:180px;}


/* notice */

#contents .noticeView .writer {width:30%; height:39px; text-align:left;}
#contents .noticeView .counter {width:30%; text-align:center;}
#contents .noticeView .wdate {width:40%; text-align:right;}
#btnNoticeGrp {margin-bottom:20px;}


/* partnership */

#partnershipGrp .inquire table {margin:30px 0;}

#partnershipGrp .headline {text-align:center;}
#partnershipGrp .post {font-size:16px; padding:20px 30px; text-align:center;}

}

/********************************************************************************************/

@media screen and (max-width:812px){
.detail {background-size:cover; height:350px;  padding-top:500px; background-position:center 0;}

#subImage .mask {}
#contents .conImage1 {background-position:center 300px;}
#contents .conImage2 {background-position:center 350px;}

#subImage .conGrp {width:100%; padding:0 20px; font-size:16px; margin-top:27px;}
#contents {clear:both;}
.contentsMargin {m argin-top:450px !important; }
}


/********************************************************************************************/

@media screen and (max-width:640px){ /* 640px 이하  */

.navBar {height:50px;}
.logo {margin:0; padding:0; padding:14px 0 12px 0px; }
.logo img {width:206px; height:32px;}
 .myNavBarBG {height:50px; opacity:0.70; position:absolute; top:0; z-index:1000;}
.bar-item {padding:14px 5px 14px 0;}
.bar-item img {width:20px;}
.bar-item {right:10px !important;}

.sidebar .sidebarLogo {left:20px; top:12px; position:absolute; z-index:3000; }
.sidebar .sidebarLogo img  {width:206px; height:32px;}

.sidebar .btnClose {position:absolute; right:5px; top:5px; z-index:3001; border:0;}
.sidebar li {line-height:30px; padding-left:20px;}
.sidebar .sidebarSubmenu li {line-height:26px;}
.slideshowContainer {display:none;} /* main Wide image Hide */
.slideshowContainerMobile {display:block } /* main mobile image Show */
.sidebar .btnClose {right:5px !important;}
.sidebar .btnClose img {width:40px; height:40px;}

#meritBox {display:none;}
#meritBoxWide {display:block;}
#mainSection {margin:0 auto; padding:10px;}
#mainSection .proGrp .pro {width:100%; padding:0; clear:both;}
#mainSection .proGrp .padBtm20 {padding-bottom:20px;}
#container {padding:0;}
#container .conBox {width:50%;}
#container .conAll {width:100%;}
#container .recommand ul {margin:0 -10px 0 0;}

.btn,.button{border:none;display:inline-block;}

#mainSection .mainSectionTitle {padding:29px 0 26px 0;}
#mainSection .mainSectionTitle img {width:40%;}

#container {padding:0 0px;}
#container ul {margin:0 -10px 0 0;}
#container .mainTitle {font-size:40px; }

#subImage .sub11 {background-position: -500px 0;}
#subImage .sub21 {background-position: -500px 0;}
#subImage .sub31 {background-position: -500px 0;}
#subImage .sub41 {background-position: -500px 0;}
#subImage img {height:50%;}

.mainSectionTitle {display:none;}
.mainSectionTitleMobile {border:solid 0px #f30; display:block !important; padding:42px 0 40px 0; text-align:center;}
.mainSectionTitleMobile img {width:50%; margin:0 auto;}

#container .conAll {margin-bottom:8px; overflow:hidden;}
#container .conBox {float:left; min-width:100px; width:50%; padding-right:8px;}


/* introduce */

#subImage .txtLarge .subTxt {font-size:16px; color:#fff; font-weight:500; vertical-align:top; letter-spacing:20px; padding-left:30px;}

#contents .conImage {max-width:640px; background-repeat:no-repeat;  background-position:center 500px; background-size:75%;}
#contents .conImage .conTxt {width:100%; overflow:hidden;  text-align:center;}
#contents .conImage .conTxt .conTxtTitle {font-size:14px; height:15px; padding:0;}
#contents .conImage .conTxt .conTxtSubject {height:43px; border-bottom:solid 2px #fff; margin:0 auto;}
#contents .conImage .conTxt .conTxtSubject1 {width:210px; font-size:26px; height:47px;}
#contents .conImage .conTxt .conTxtSubject2 {width:290px; font-size:26px; height:47px;}
#contents .conImage .conTxt .conTxtSubject3 {width:310px; font-size:26px; height:47px;}
#contents .conImage .conTxt .conTxtText {font-size:16px; padding:0 30px;  margin-top:10px;}
#contents .conImage1 {padding-top:30px; background-position:center 218px; height:470px;}
#contents .conImage2 {padding-top:0px; height:550px;  background-position:center 250px;}
#contents .conImage3 {width:100%; padding:0px;}
#contents .conTxtImg {padding:0; margin-top:20px;}
#contents .conTxt .conTxtText {font-size:16px; line-height:32.4px;}
#contents .conTxt .conTxtText .txtS {color:#f06d9b; font-weight:500; font-size:18px}
#contents .conTxtImg {display:none;}
#contents .conTxtImgMoble {display:block !important;}
#container .recommand .conAll ul {padding:5px; width:255px;}


/* sub Image */

#subImage {position:relative;}
#subImage .subImage {display:none;}
#subImage .subImageMobile {display:block !important; width:100%;}
#subImage .subTitle {position:absolute; width:385px; }
#subImage .subTitle img {width:100%; height:100%;}


/* list */

#contents {padding:10px 10px;}
.contentsList {width:100%; background-color:#24242b; height:50px;}
.contentsList .contentCat {width:100%; overflow-y:hidden; overflow-x:auto;}
.contentsList .contentCat .contentCatGrp {width:1530px; height:50px;} /* 프로그램에서는 유동적으로 */
.contentsList .contentCat li {float:left; line-height:36px; font-size:18px; padding:5px 10px; text-align:center; border:solid 0px #f30;}
.contentsList .contentCat .arrowLeft {display:none;}
.contentsList .contentCat .arrowRight {display:none;}
.contentsList .contentCat .listBlank {display:block !important; width:10px; min-width:10px;}
.selectGrp {border:solid 0px #f30; padding:10px 0px 20px 0px; overflow:hidden;}
.slick-initialized .slick-slide{width:60px;  line-height:38px; font-size:14px !important; text-align:center;} /*add (padding:5px 2px; 제외)*/

/* detail */

.detail {height:400px; padding-top:400px; background-position:center 0;}
.detailBackground {border:0; background-image:url('../image/img_detail_m.jpg'); background-size:cover; background-repeat:no-repeat;}

 #subImage .mask {display:none;}
 #subImage .maskMobile {display:block !important; width:100%; height:400px; position:absolute; z-index:100; top:0px; left:0; background-image:url('../image/detail_img_cover_m.png'); background-repeat:no-repeat; background-position:top center;}

#subImage .conGrp {width:100%; padding:0 20px; font-size:16px;}
#subImage .conGrp .infoGrp .conInfo {width:100%; font-size:14px; opacity:0.8; padding:0; padding-bottom:20px;}
#subImage .conGrp .infoGrp .conDetailMobile {font-size:14px; line-height:1.6em;}

#contents .contentGallery {clear:both; width:100%; padding:10px; margin-top:0px;}
#contents .contentGallery .conTxtSubject {margin:40px 0 0 0;}

#subImage {border:0;}
#subImage .arrowGrp {display:none;}
#subImage .conGrp {padding-top:0px;}
#subImage .conGrp .conTitle {height:40px; overflow:hidden; font-size:28px}
#subImage .conGrp .iconBox {width:40px; height:40px; float: left; padding: 5px 10px 5px 0;}
#subImage .conGrp .infoGrp .conDetail .conItem {width:150px;}

#contents {clear:both;}
#contents .imgBox {float:left; width:100%; height:100%;}
#contents .InfoBox {float:left; width:100%; height:100%;}
#contents .contentGallery .gallerySm td {padding:10px 5px;}
#contents .contentGallery .gallerySm td img {width:180px;}

#contents .contentGallery .gallerySm td {padding:10px 5px;}
#contents .contentGallery .gallerySm td img {width:120px;}
#contents .gallerySm {display:none;}
#contents .pageDot {display:block !important; text-align:center;  border:solid 0px #f30; padding:20px 0;}



/* notice */

.customer {padding:0 10px !important;}

#pageNumberGrp {width:100%; padding:20px;}
#pageNumberGrp .pageNumber {text-align:center; font-size:14px;}
#pageNumberGrp .pageNumber img {width:30px;}
#pageNumberGrp .pageNumber a {padding:5px;}

#searchBox {width:100%; padding:20px 0; text-align:center; font-size:16px; }
#searchBox .searchGrp {width:340px; overflow:hidden; margin:0 auto;}
#searchBox .searchGrp input, #searchBox .searchGrp select {font-size:14px; height:36px;}
#searchBox .searchGrp .selectBox {float:left; width:80px;}
#searchBox .searchGrp select {padding:0 5px;}
#searchBox .searchGrp .searchInput {float:left; padding:0 2px; width:180px; }
#searchBox .searchGrp .searchInput input {padding:0px;}
#searchBox .searchGrp .btnSearch {width:80px; float:left; line-height:1.6em; font-weight:500; padding:0px; background-color:#555; cursor:pointer;}

#contents .conTxtSubject .titleGallery {width:160px;}
#contents .noticeGrp table {width:100%; height:40px;   height:40px;  font-size:14px; font-weight:500; }
#contents .noticeGrp .writer {width:15%; height:40px; text-align:center; }
#contents .noticeGrp .counter {width:55%; text-align:center;}
#contents .noticeGrp .wdate {width:30%; text-align:center;}

#contents .noticeGrp {width:100%; font-size:14px;}
#contents .noticeGrp span {float:left; padding:0; display:inline-block; line-height:40px;}
#contents .noticeGrp .title {background-color:#555555; font-weight:500; font-size:14px;}
#contents .noticeGrp li {border-bottom:solid 1px #3d424d; height:40px;  line-height:16px; width:100%;}
#contents .noticeGrp .num {width:15%; min-width:50px; clear:both; text-align:center;}
#contents .noticeGrp .subject {width: 55%; min-width:50px; }
#contents .noticeGrp .date{width:29%; min-width:50px; text-align:center; float:right;}

#contents .noticeView {font-size:16px; line-height:28.8px; font-weight:400; border-top:solid 2px #999; margin-top:20px;}
/*- 공지사항 상세보기 폰트 크기 수정 > 16px */
#contents .noticeViewDetail {font-size:16px; font-weight:100; padding:20px 0; border-bottom:solid 2px #999;}
#contents .noticeView .noticeViewTitle {width:100%;padding:0 10px; height:40px; line-height:39px; background-color:#555; border-bottom:solid 1px #adadad;}
#contents .noticeView table {width:100%; line-height:18px;}
#contents .noticeView .writer {width:30%; height:39px; text-align:left;}
#contents .noticeView .counter {width:30%; text-align:center;}
#contents .noticeView .wdate {width:40%; text-align:right;}
#contents .noticeView .viewLarge {display:none;}
#contents  .attatchFileGrp .attatch strong {font-weight:400;}
#contents  .attatchFileGrp td {line-height:1.6em; font-size:14px;}


/* parterShip */

#contents .flow {display:none;}
#contents .flowVertical {display:block !important;}

#partnershipGrp .headline {text-align:center;}
#partnershipGrp .post {font-size:16px; padding:20px 30px; text-align:center;}

}


@media screen and (max-width:420px){

#subImage .subTitle {position:absolute;width:253px;}
#subImage .sub2 {background-position:-500px 0;}
#subImage .sub3 {background-position:-500px 0;}

#container .recommand .conAll ul {padding:5px; width:245px;}

 .contentsList {width:100%; background-color:#24242b; height:36px;}
.contentsList .contentCat {width:100%; overflow-y:hidden; overflow-x:auto; height:36px;}
.contentsList .contentCat .contentCatGrp {width:1050px; height:36px;} /* 프로그램에서는 유동적으로 */
.contentsList .contentCat li {min-width:80px; float:left;  line-height:1.6em; font-size:16px; padding:5px 10px; text-align:center; border:solid 0px #f30;}

#contents .conTxtSubject .titleGallery {width:150px;}


.slick-initialized .slick-slide{height:auto !important; line-height:inherit}
}


@media screen and (max-width:360px){

#subImage .subTitle {position:absolute;width:217px;}

.contentsList {width:100%; background-color:#24242b; height:30px;}
.contentsList .contentCat {width:100%; overflow-y:hidden; overflow-x:auto; height:30px;}
.contentsList .contentCat .contentCatGrp {width:1050px; height:30px;} /* 프로그램에서는 유동적으로 */
.contentsList .contentCat li {min-width:70px; float:left;  line-height:1.3em; font-size:14px; padding:5px 10px; text-align:center; border:solid 0px #f30;}

.selectGrp {height:60px;}
.selectGrp .totalBox {font-size:16px;}
.selectGrp .selectBox select {font-size:14px;}

#contents .conTxtSubject .titleGallery {width:100px;}

}

/* develop add CSS S*/
/* .slick-slide a:active {border:0px;} */
.slick-slide a:active span{border:0px;}
.slick-slide a:visited{outline-width: 0;}
@media screen and (min-width:1025px){ /* 1025px 이하  */
    .sidebar {display:none !important;}
}
@media screen and (max-width:320px){

#subImage .subTitle {position:absolute;width:190px;}
}

.btnDownload {background-image: url(../image/btn_download_gray_nl.png); background-repeat: no-repeat; background-position: 8px center; text-indent: -9999px; overflow: hidden; display: block; width: 37px;}

/* develop add CSS E*/
a.pointer{color:#fff}
.pointer{cursor:pointer}
.conBox a {display:block;}
.webStatBtn{position: absolute; left: calc(50% - 85px); bottom: 10px; display: block; margin: 0 auto;display:none;}
.webStatBtn #playBtn{width: 16px; height: 25px; display: block; background-repeat:no-repeat;}
.webStatBtn .start{background-image:url("../image/btn_pause.png");}
.webStatBtn .stop{background-image:url("../image/btn_play.png");}
#subImage {border-bottom:0;}
.subimage{border-bottom:solid 2px # 18e4c7;}
.fotorama__nav{margin-top: 10px}


@media screen and (min-width:1145px){ /* 640px 이상  */
    #subImage .conGrp .infoGrp .conInfo {padding-right:10px !important; margin-right: 50px;}
    .contentsList .contentCat{max-width:1057px;}
    .slick-prev{left:-4% !important}
    .slick-next {right: -4% !important;}
}
@media screen and (max-width:1145px){ /* 640px 이상  */
    .slick-prev{left:0% !important; z-index: 1;}
    .slick-next {right: 0% !important; z-index: 1;}
    .contentsList .contentCat{max-width: 1144px;}
}
@media screen and (max-width:1022px){ /* 640px 이하  */
    .slick-arrow {z-index: -1}
}
@media screen and (max-width:400px){ /* 640px 이하  */
    .conDesc{padding-left:5px !important;}
}

.fotorama__nav__frame {padding-left: 0!important; min-width: 80px; min-height: 60px;}
.fotorama__thumb-border {width: 80px; height: 60px; border-width: 2px; margin-top: 2px; min-width: 80px; min-height: 60px;}
.fotorama__nav__shaft{display:table; margin:0 auto;}

/*
수정 내역:
#container .conAll ul {padding:5px; width:240px;} -> width:110%
#menu ul li ul -> width: 100% 제거 :: 상단 메뉴 width 오류 해결
*/
/*
.h_Info {overflow: hidden; position: relative; line-height: 1.2em; max-height: 3.6em; text-align: justify; margin-right: -1em; padding-right: 1em;}
.h_Info:before{content: '...'; position: absolute; right: 0; bottom: 0;display: block; font-size: 0.9em; color: #999; min-height: 46px;}
#subImage .conGrp .infoGrp .conInfo{max-height:300px;}
*/
#contents{clear:both;}

/* TOP 메뉴 > 하위 메뉴 */
.menuChdTab > li > a {text-align:left;}

/* 콘텐츠 목록 P 태그 line-height 정의 */
.contTHeight {line-height: 15px;}
.contDHeight {line-height: 13px;}

/* IE 9 버전에서 하위 배너로 이벤트 넘어가서 메뉴화면 닫히는 문제 방지용 레이어 */
.topTransparent {background-color:white;opacity:0 !important;}

/* 콘텐츠 상세보기  */
#subImage .conGrp .conTitle {white-space:nowrap;overflow-x:auto;overflow-y:hidden;display: flex;}
#subImage .conGrp .infoGrp .conInfo {padding-right:10px;}
#contents .contentGallery {padding-bottom : 30px;}
.conDesc{padding-left:10px;}
.conDesc p {height:9px;}

.slick-list{left:0px !important}
/* 콘텐츠 상세 포토라마 (리스트 이미지가 위로 붕뜨는 현상제거 & 갤러리 이미지 (가로 길이가 짧은것) 가운데 정렬)*/
img.fotorama__img {margin:0 auto;}
.fotorama__nav__shaft fotorama__grab img.fotorama_img {margin:0 auto; top:0px !important};

/*콘텐츠 리스트 목록 > 장르 목록  글씨 center 처리 및 ... 처리*/
.menuTab{width: 100%;display: inline-block;height: 100%;position: relative;overflow: hidden;}
.menuTab span{width: 100%; position: absolute; top: 0px; left: 0px; text-overflow: ellipsis; overflow: hidden; top: 50%; transform: translateY(-50%); white-space: nowrap;}

/*메인 전시 움직이는 img*/
/* 글씨 */
.main_abs_4{left: -161px !important; top: 49px !important;}
.containerBg{background-repeat: no-repeat; background-size: 100% 100%;} /*전시페이지 추천콘텐츠 뒷배경 영역크기에 맞게 */

/* 중요/일반 공지사항 */
.noticeImptRowBold td {font-weight : bold !important}
.noticeRowInherit td {font-weight : inherit !important}
