@charset "UTF-8";

@font-face{
    font-family:"Noto Sans KR";
    font-weight:100;
    src:url('../font/NotoSans-Thin.eot');
    src:url('../font/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSans-Thin.woff') format('woff'),
    url('../font/NotoSans-Thin.otf') format('opentype');
    url('../font/NotoSans-Thin.ttf') format('truetype');
    src:local('?'), url('../font/NotoSans-Thin.woff') format('woff');
}

@font-face{
    font-family:"Noto Sans KR";
    font-weight:300;
    src:url('../font/NotoSans-Light.eot');
    src:url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSans-Light.woff') format('woff'),
    url('../font/NotoSans-Light.otf') format('opentype');
    url('../font/NotoSans-Light.ttf') format('truetype');
    src:local('?'), url('../font/NotoSans-Light.woff') format('woff');
}

@font-face{
    font-family:"Noto Sans KR";
    font-weight:400;
    src:url('../font/NotoSans-Regular.eot');
    src:url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSans-Regular.woff') format('woff'),
    url('../font/NotoSans-Regular.otf') format('opentype');
    url('../font/NotoSans-Regular.ttf') format('truetype');
    src:local('?'), url('../font/NotoSans-Regular.woff') format('woff');
}

@font-face{
    font-family:"Noto Sans KR";
    font-weight:500;
    src:url('../font/NotoSans-Medium.eot');
    src:url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSans-Medium.woff') format('woff'),
    url('../font/NotoSans-Medium.otf') format('opentype');
    url('../font/NotoSans-Medium.ttf') format('truetype');
    src:local('?'), url('../font/NotoSans-Medium.woff') format('woff');
}

@font-face{
    font-family:"Noto Sans KR";
    font-weight:700;
    src:url('../font/NotoSans-Bold.eot');
    src:url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSans-Bold.woff') format('woff'),
    url('../font/NotoSans-Bold.otf') format('opentype');
    url('../font/NotoSans-Bold.ttf') format('truetype');
    src:local('?'), url('../font/NotoSans-Bold.woff') format('woff');
}

@font-face{
    font-family:"Noto Sans KR";
    font-weight:900;
    src:url('../font/NotoSans-Black.eot');
    src:url('../font/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSans-Black.woff') format('woff'),
    url('../font/NotoSans-Black.otf') format('opentype');
    url('../font/NotoSans-Black.ttf') format('truetype');
    src:local('?'), url('../font/NotoSans-Black.woff') format('woff');
}
